@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: #222831;
}

.hedaer{
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Oswald', sans-serif;
    color: white;
}

.logo{
    color: white;
}

.nav-links a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.hero .image img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

h1{
    color: white;
}
.designer{
    color: #00ADB5;
}

.hire-me{
    background-color: #00ADB5;
    color: #eff0f1;
    width: 80px;
    height: 25px;
    /* Gap:10px; */
    border-radius: 24px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.download-cv{
    background-color: #393E46;
    color: #eff0f1;
    width: 125px;
    height: 27px;
    /* Gap:10px; */
    border-radius: 24px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 700;
}